/* Footer section */

.footer {
    padding: 100px 0 20px;
}

@media (max-width:768px) {
    .footer {
        padding-top: 50px;
    }
}

.feed-content {
    display: flex;
    height: 250px;
    overflow: hidden;
}

.feed {
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.feed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.5s ease;
}

.feed:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width:900px) {
    .feed {
        min-width: 50%;
    }
}

@media (max-width:500px) {
    .feed {
        min-width: 100%;
    }
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

.feed:hover .hover {
    opacity: 1;
}

.lines {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
}

.hover span {
    position: absolute;
    background-color: white;
}

.hover span:first-of-type,
.hover span:nth-of-type(2) {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: 0.5s ease;
}

.hover span:nth-of-type(3),
.hover span:nth-of-type(4) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: 0.5s ease;
}

.feed:hover span:first-of-type,
.feed:hover span:nth-of-type(4) {
    width: 100%;
    height: 1px;
}

.feed:hover span:nth-of-type(2),
.feed:hover span:nth-of-type(3) {
    height: 100%;
    width: 1px;
}

.feed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.copyright .container {
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: capitalize;
    margin-top: 15px;
    font-weight: 300;
}

@media (max-width:768px) {
    .copyright .container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

.copyright span {
    color: var(--main-color);
    font-weight: 800;

}

.copyright ul {
    display: flex;
}

.copyright ul li {
    padding: 0 15px;
}

.copyright ul li:last-of-type {
    padding-right: 0;
    border-left: 1px solid white;
}

@media (max-width:768px) {
    .copyright ul li:first-of-type {
        padding-left: 0;
    }
}

.copyright ul li a {
    color: white;
    transition: 0.5s ease;
}

.copyright ul li a:hover {
    color: var(--main-color);
}