@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #ea562c;
    --white-color: white;
    --main-padding: 0 10%;
    --main-margin: 100px 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Tajawal', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General styles */

.container {
    padding: var(--main-padding);
}


.common-btn {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: 0.5s linear;
}

.common-btn::before,
.common-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: 0.5s linear;
}

.common-btn::before {
    background-color: var(--white-color);
    animation: first-out 0.5s ease 0.2s both;
}

.common-btn::after {
    background-color: var(--main-color);
    animation: second-out 0.5s ease 0s both;
}

.common-btn:not(:hover)::before,
.common-btn:not(:hover)::after {
    visibility: hidden;
}

.common-btn:hover {
    color: var(--white-color);
    border-color: var(--main-color);
}

.common-btn:hover::before {
    animation: first-in 0.5s ease 0s forwards;
}

.common-btn:hover::after {
    animation: second-in 0.5s ease 0.2s forwards;
}

@keyframes first-in {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes second-in {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes first-out {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes second-out {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.padding-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading {
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .heading {
        padding: 0;
    }
}

.heading h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: white;
}

.heading h1 i {
    font-size: 50px;
    margin-bottom: 20px;
}

.heading h2 {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

.about,
.gallery,
.testimonial,
.footer {
    background-color: #111111;
}

.menu,
.food,
.contact {
    background-color: #161616;
}

/**/

.go-up {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background-color: var(--main-color);
    color: white;
    border-radius: 3px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s ease;
}

.go-up:hover {
    background-color: #ffffff;
    color: var(--main-color);
}

.appear {
    animation: go-down 1s ease forwards;
}

.disappear {
    animation: go-up 1s ease forwards;

}

@keyframes go-down {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 20px;
    }

}

@keyframes go-up {
    0% {
        bottom: 20px;
    }

    100% {
        bottom: 100%;
    }

}